<div id="order_test">
  <%= content_tag(:span, "0") %><%= render_later("order-1") { content_tag(:span, "1") } %>2<%= render_later("order-2") do %>3<span>4</span>5<% end %>6<%= render_later("order-3") { "7" } %>8
</div>