version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: monthly
    time: "09:00"
    timezone: Europe/Paris
  groups:
    minors:
      update-types:
      - "minor"
      - "patch"
